<html>
    <title>httpfs</title>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

<body>
    <p>Hello, there!</p>
    <p>browse <a href="/files">filess</a></p>
</body>

</html>